<!DOCTYPE html>
<html ng-app="voteApp">
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</head>
<body ng-controller="voteController">

	<div ng-view></div>

	<nav class="navbar navbar-inverse navbar-fixed-bottom">
  		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li>
					<a class="" href="#">
						<span class="glyphicon glyphicon-ok"></span>
						 Vote!
					</a>
				</li>
				<li>
					<a class="" href="#">
						<span class="glyphicon glyphicon-signal"></span>
						 Standings
					</a>
				</li>
				<li>
					<a class="" href="#">
						<span class="glyphicon glyphicon-plus"></span>
						 Add Pic
					</a>
				</li>
				<li>
					<a class="" href="#">
						<span class="glyphicon glyphicon-user"></span>
						 Reset Votes For User 
					</a>
				</li>
				<li>
					<a class="" href="#">
						<span class="glyphicon glyphicon-remove"></span>
						 Reset Votes For all Images
					</a>
				</li>
			</ul>
 		</div>
	</nav>


<!--
CODE FOR ADDING IMAGE
	<form action="http://localhost:3030/uploads" method="post" enctype="multipart/form-data">
		<input type="file" name="uploadedFile">
		<input type="submit" class="btn btn-primary" value="Submit the File">
	</form> -->

<!-- 	
OLD CODE FOR ADDING STUDENTS I THINK
		<div class="row">
			<form class="search-form" ng-submit="search()">
				<input type="text" ng-model="who">
				<input type="submit" class="btn btn-primary">
			</form>
		</div>
	</div>

	<div class="">{{who}}</div>
	<div class="">{{message}}</div>
	<div class="status">Status: {{status}}</div>
	<div class="result">{{result}}</div>
	<div class="data">Message: {{data}}</div>
	<h1>Students in Database:</h1>
	<li ng-repeat="name in studentsOnLoad">{{name.name}}</li> -->

</body>
</html>